[submodule "BackendPVOperation"]
	path = BackendPVOperation
	url = https://github.com/RafaelSteffens/BackendPVOperation.git
[submodule "FrontendPVOperation"]
	path = FrontendPVOperation
	url = https://github.com/RafaelSteffens/FrontendPVOperation.git
